{% extends 'store/main.html' %}
{% block content %}
    <div class="card text-center p-5 w-75 mx-auto login-or-guest"> 
        <h1 class='mb-5'>Ready to go?</h1>
        <div class="row pt-5">
            <div class="col-md-6">
                <a href="{% url 'register' %}" class="btn">Create a New Account</a>
                
            </div>
            <div class="col-md-6">
                <p>...or continue as a guest</p>
                <a href="{% url 'checkout' %}" class='btn'>Checkout</a>

            </div>
        </div>
    </div>
    {% endblock content %}