* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background: rgba(200, 200, 200, 0.2);
}
.navbar {
  background: rgb(138, 106, 175);
}
.rounded-circle {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
}

.media {
  display: flex;
}
.media-body {
  margin-left: 1rem;
}
a {
  text-decoration: none;
  color: black;
}
.blog-title {
  text-decoration: none;
}

.username {
  color: black;
}
